body {
    background-color: rgb(142, 122, 207)
    
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(41, 13, 117);
    text-align: center;
    
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;
}