body {
    background-color: rgb(142, 122, 207);
    text-align: center;
    font-family: Open sans, sans-serif;
    color: white;

}

section {
    background-color: #FF9E9E;
    max-width: 60%;
}



h2 {
    color:rgb(41, 13, 117);
}

.inf {
    color: #04ff9f;
}

.juv {
    color: #FF9E9E;
}

.adt {
    color: #ffe36d;
}

p {
    color: white;
}

ol {
    color: rgb(175, 236, 255);
}

